#root {
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.section {
  background-color: white;
  padding-bottom: 4rem;
}

.cupon {
  width: 100px;
}

p,
.gris,
input[placeholder] {
  color: #707070;
  font-weight: 300;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url('assets/images/hero-pizza.png');
  background-size: cover;
  background-position: center;
  color: white;
  height: 500px;
  padding: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}

.hero-section h1 {
  font-weight: 900;
  font-size: 60px;
}

.hero-section p {
  color: white;
}

.section-titulo {
  display: flex;
  justify-content: space-between;
}

.pizza-card {
  transition: .2s ease-in-out;
}

.pizza-card:hover {
  transform: scale(1.05);
}

.card-body {
  display: flex;
  flex-direction: column;
}

.pizza-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-img-top {
  min-height: 250px;
  max-height: 250px;
  object-fit: cover;
}

.cardfooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer {
  background-color: #292929;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 2rem;
}

.form-section {
  background-color: lightgray;
  height: 100vh;
  padding-top: 5rem;
}

.cart-section {
  background-color: white;
  min-height: 100vh;
  padding-top: 5rem;
}

.form-title {
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  padding: 1.5rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.error {
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.ya-tengo-cuenta {
  text-align: center;
}

.mensajeExito {
  text-align: center;
  color: rgb(0, 177, 0);
  font-weight: bold;
}

.pizza-cart-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
  padding-left: 0;
}

.pizza-cart-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pizza-cart-element img {
  max-width: 150px;
  min-width: 150px;
  height: 100px;
  object-fit: cover;
}

.cart-btn {
  border-radius: 6px;
  padding-inline: 0.8rem;
  padding-block: 0.5rem;
}

.total-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-pagar {
  border-radius: 8px;
}

.lista-ingredientes {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.lista-ingredientes li::after {
  content: ',\00a0' !important; /* coma + NBSP */
}

.lista-ingredientes li:last-child::after {
  content: '' !important;
}

@media (max-width: 576px) {

  .hero-section {
    height: 80vh;
  }

  .pizza-cart-list {
    gap: 1.5rem;
  }

  .pizza-cart-element img {
    max-width: 80px;
    min-width: 80px;
    height: 80px;
  }

}